version: 2.1

jobs:
  build_for_distro:
    docker:
      - image: 'ubuntu:bionic'
    parameters:
      distro:
        type: string
    steps:
      - setup_remote_docker
      - checkout
      - run: apt update -qqy && apt install -y ruby
      - run: |
          ruby setup.rb \
            --builds \
            --packages \
            --v24support \
            --commit v2.4.0 \
            --copy-pkgs \
            --dist \
            --distro << parameters.distro >>
      - store_artifacts:
          path: artifacts/
          destination: rethinkdb-<< parameters.distro >>

workflows:
  version: 2
  build:
    jobs:
      - build_for_distro:
          name: build-<< matrix.distro >>
          matrix:
            parameters:
              distro: ["centos8", "centos7", "centos6"]
      - build_for_distro:
          name: build-<< matrix.distro >>
          matrix:
            parameters:
              distro: ["buster", "stretch", "jessie"]
      - build_for_distro:
          name: build-<< matrix.distro >>
          matrix:
            parameters:
              distro: ["eoan", "bionic", "xenial", "trusty", "disco"]
